@import "../../../../scss/global.scss";

.footer-nav-list{
    > div{
        line-height: 20px;
        + div{
            margin-top: 28px;

            @include tablet{
                margin-top: 16px;
            }
            @include mobile{
                margin-top: 10px;
            }
        }
    }
    .tooltip{
        text-transform: uppercase; font-size: 10px; color: $link-dark-color; background: $white-color; line-height: 10px;
        padding: 3px 9px; @include border-radius(3px); display: inline-block; vertical-align: middle; margin-left: 10px;
        font-family: $secondary-font; font-weight: 500; @include transition(all 0.2s ease); white-space: nowrap;
    }
    .link{
        position: relative; padding-bottom: 2px; font-size: 15px;

        @include mobile{
            font-size: 13px;
        }

        &:after{
            width: 0; height: 1px; content: " "; position: absolute; left: 0; bottom: 0; background: $white-color;
            @include transition(all 0.4s ease);
        }

        &:hover, &:focus{
            text-decoration: none;

            + .tooltip{
                background: $tooltip-hover;
            }

            &:after{
                width: 100%;
            }
        }

        &.product-icon{
            &:after{
                display: none;
            }
        }
    }
}